{
       EXTRA
}

DASH_IP.roboscapeonlineservers.netsblox.org {
        EXTRA
        reverse_proxy :15000
}

DASH_IP.roboscapeonlineservers.netsblox.org:3000 {
        EXTRA
        reverse_proxy :13000
}