{
        cert_issuer zerossl ZEROSSL_API_KEY
}

DASH_IP.roboscapeonlineservers.netsblox.org {
        reverse_proxy :15000
}

DASH_IP.roboscapeonlineservers.netsblox.org:3000 {
        reverse_proxy :13000
}