name: Docker Image CI Caddy

permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
    paths:
      - 'update_caddyfile.sh'
      - 'Dockerfile-caddy'
      - 'Caddyfile.template'

jobs:
  build-caddy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Server
      uses: docker/build-push-action@v6.5.0
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        file: Dockerfile-caddy
        push: true
        tags: gstein17/roboscapesim-rs-caddy:latest

